{% extends "pages/index.html" %}

{% block title %}Password Reset Successful{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto mb-10 pt-20">
    <div class="flex flex-col items-center gap-4 p-6 bg-gradient-to-b from-gray-800 to-gray-900 rounded-xl shadow-lg text-white mt-10">
        
        <h1 class="text-3xl font-semibold mb-4">Password Reset Successful</h1>
        
        <p class="text-lg text-center mb-4">
            Your password has been successfully reset. You can now log in with your new password.
        </p>
        
        <!-- Login Button -->
        <a href="{% url 'account_login' %}" class="w-full bg-purple-600 text-white px-3 py-2 rounded-md shadow-md hover:bg-purple-700 transition text-center">
            Return to Login
        </a>
    </div>
</div>
{% endblock %}
